body {
    font-family: Arial, sans-serif;
    background: linear-gradient(135deg, #fc0202, #f48d8d); /* Gradient from #f4f4f4 to #ffffff */
    margin: 0;
    padding: 0;
}
.container {
    max-width: 600px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
}

.question {
    margin-bottom: 20px;
}

label {
    display: block;
    font-weight: bold;
}

select, input[type="text"], textarea {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}

.hidden {
    display: none;
}

#responseSummary {
    list-style: none;
    padding: 0;
}

#responseSummary li {
    margin-bottom: 10px;
}
