<!DOCTYPE html>
<html lang="en" ng-app="blogApp">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blog Application</title>
    <link rel="stylesheet" href="styles.css">
</head>
<body ng-controller="BlogController" class="container">

    <h1>Blog</h1>

    <div ng-repeat="post in posts" class="post">
        <h2>{{ post.title }}</h2>
        <p>{{ post.body }}</p>
        <p>Posted by: {{ post.author }}</p>
    </div>

    <h2>Create New Post</h2>

    <form ng-submit="createPost()">
        <label for="title">Title:</label><br>
        <input type="text" id="title" ng-model="newPost.title" required><br>
        <label for="body">Body:</label><br>
        <textarea id="body" ng-model="newPost.body" required></textarea><br>
        <label for="author">Author:</label><br>
        <input type="text" id="author" ng-model="newPost.author" required><br>
        <button type="submit">Create Post</button>
    </form>

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js"></script>
    <script src="app.js"></script>
</body>
</html>
