body {
    background: linear-gradient(#008000, #004080);
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    color: white;
}

form {
    background: linear-gradient(#004080, #008000);
    padding: 20px;
    border-radius: 8px;
    width: 300px;
}

label {
    display: block;
    margin-bottom: 8px;
}

input {
    width: calc(100% - 16px);
    padding: 8px;
    margin-bottom: 12px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
}

input[type="submit"] {
    background-color: purple;
    color: white;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: darkgreen;
}

.error-message {
    color: red;
    margin-top: -12px;
    margin-bottom: 12px;
}
