<!DOCTYPE html>
<html ng-app="quizApp">
<head>
    <title>Quiz Application</title>
    <link rel="stylesheet" href="styles.css">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js"></script>
    <script src="app.js"></script>
</head>
<body>
    <div class="container" ng-controller="QuizController">
        <h1>Quiz Application</h1>

        <!-- Quiz Form -->
        <form name="quizForm" ng-submit="submitQuiz()" novalidate>
            <div ng-repeat="question in questions">
                <h3>{{ question.text }}</h3>
                <div ng-repeat="option in question.options">
                    <label>
                        <input type="radio" ng-model="userAnswers[question.id]" value="{{ option }}" required> {{ option }}
                    </label>
                </div>
                <span class="error" ng-show="quizForm['question' + question.id].$touched && !userAnswers[question.id]">This question is required.</span>
            </div>
            <button type="submit" ng-disabled="quizForm.$invalid">Submit Quiz</button>
        </form>

        <!-- Quiz Results -->
        <div ng-show="showResults">
            <h2>Your Results</h2>
            <p>You scored {{ score }} out of {{ questions.length }}.</p>
        </div>
    </div>
</body>
</html>
